<div class="bg-white dark:bg-gray-900">
  <div class="flex justify-center items-center h-screen w-full">
    <div class="px-6 md:px-12 lg:px-20 w-full lg:w-3/4">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="bg-surface-0 dark:bg-surface-900 p-8 md:p-12 shadow-sm rounded-2xl w-full max-w-xl mx-auto flex flex-col gap-8"
      >
        <div class="flex flex-col items-center gap-4">
          <div class="flex items-center gap-4">
             <i class="pi pi-file-edit" style="font-size: 2.5rem"></i>
          </div>
          <div class="flex flex-col items-center gap-2 w-full">
            <div
              class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-center w-full"
            >
              Crea tu cuenta
            </div>
            <div class="text-center w-full">
              <span
                class="text-surface-700 dark:text-surface-200 leading-normal"
                >¿Ya tienes una cuenta?</span
              >
              <a
                class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis"
                routerLink="/"
                >Inicia Sesion!</a
              >
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-6 w-full">
          <div class="flex flex-col gap-2 w-full">
            <label
              for="userName"
              class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
              >Nombre de Usuario</label
            >
            <input
              pInputText
              type="text"
              formControlName="userName"
              id="userName"
              placeholder="Usuario"
            />
          </div>
          <div class="flex flex-col gap-2 w-full">
            <label
              for="password"
              class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
              >Password</label
            >
            <input
              pInputText
              type="password"
              formControlName="password"
              placeholder="Contraseña"
              id="pass"
            />
          </div>
        </div>
        <p-button
          type="submit"
          [disabled]="registerForm.invalid"
          label="Registrarse"
        />
      </form>
    </div>
  </div>
</div>
