<section class="bg-white dark:bg-gray-900 min-h-screen flex flex-col items-center justify-center px-6 py-12 text-center">
  
    <!-- Icono / Imagen -->
    <div class="mb-8">
      <img
        src="https://merakiui.com/images/components/illustration.svg"
        alt="Página no encontrada"
        class="w-4xs mx-auto"
      />
    </div>
  
    <!-- Mensajes -->
    <p class="text-3xl font-bold text-indigo-800 dark:text-indigo-600">404</p>
    <h1 class="mt-2 text-2xl font-semibold text-gray-700 dark:text-gray-300">Página no encontrada</h1>
    <p class="mt-4 text-gray-700 dark:text-gray-300">
      Lo sentimos, la página que estás buscando no existe o ha sido movida.
    </p>
  
    <!-- Botones -->
    <div class="mt-6 flex flex-col sm:flex-row gap-4 justify-center">
      <a
        href="/home"
        class="px-6 py-3 text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 border-indigo-600 transition"
      >
        Volver al inicio
      </a>
      
    </div>
  
  </section>
  